/*custom properties*/
:root {
  --light: rgb(157, 207, 207); 
  --dark: #13293d;
  --hover1: rgb(197, 206, 77);
}

body {
    margin:0;
    padding:0;
    display: flex;
    flex-direction: column;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--dark); 
}

/*Defining header's parameters*/
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    padding: 1%;
    background-color: var(--dark);
   /* color: #13293d;*/
}

/*h1 parameters*/
h1 {
    font-size: 170%;
    margin-top: 60px;
    margin-left: -5px;
    padding-left: 80px;
    padding-right: 5px;
    margin-bottom: -5px;
    background-color: var(--light);
    
  }

/*h2 parameters*/
  h2 {
    font-size: 250%;
    padding-right: 20px;
  }
  
/*Unordered list's parameters for navigation bar*/
nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type:none;
    padding-right: 70px;
    min-width: 400px;
  }

/*Navigation bar's text*/
nav a {
    color: var(--light);
    font-weight: bold;
  }

 /*hover pseudo class for navigation bar's links*/ 
  nav a:hover {
    color: var(--hover1);
  }

  main {
    display: flex;
  flex-direction: column;

  }

/*background image for subtitle*/
  .subheader{
    display: flex;
    justify-content: end;
    align-items: flex-end;
    background-color: rgb(243, 26, 26);
    width: 100%;
    background-image: url("./images/Ladrillos.jpg");
   }


 /*Parameters for subtitle on bricks image, below header*/
  .subheader h2 {
    font-size: 170%;
    padding: 13px;
    margin-right: 60px;
    margin-bottom: 10px;
    margin-top: 90px;
    color: var(--light);
    background-color: var(--dark);
  }

/*footer section*/
  footer {
  display: flex;
  align-items: center;   
  }

  /*background color for the "About Me" section*/
.section-1 {
  background-color: var(--light);
 
}

/*left side of main*/
.div-left {
  width: 28%;
  float: left;
  text-align: right;
/*border-right: 2px solid rgb(206, 214, 214);*/
}

.div-left h2 {
  border-right: 2px solid rgb(206, 214, 214);
}
/*right side of main*/
.div-right { 
 display: flex;
}

/*Margin of text on right side of page*/
.div-right p {
  text-align: left;
  margin: 35px; 
}

/*background color of section 2 of main content*/
.section-2 {
    background-color: var(--light);   
  }

  
/*container for all images in Work section*/
.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding-left: 35px; 
}

/*Parameters for all images inside container*/
.container div {
  width: 300px; height: 200px; margin: 5px;
  font-size: 1rm; text-align: left; color: rgb(8, 42, 71);
  padding-top : 1em;
  position: relative;
 }

/*Parameters for image1 of Work section*/
 .image1 {
  flex: 1 0 calc(100% - 20px);
  position:relative; /*necesario?*/
  background-color: var(--dark);
  
}

/*Backfround color for images*/
.image2, .image3, .image4, .image5 {
  flex: 1 0 auto;
  background-color: var(--dark);

}

/*Parametters for image 1*/
.image1 img {
  flex: 1 2 auto;
  width: 98%;
  height: 200px;
 padding: 1px;
  height: 200px;
 position: relative;
 bottom: .5em;
 left: .5em;
}

/*dimensions and position for the following images in the Work section*/
.image2 img, .image3 img, .image4 img, .image5 img {
  width: 96%;
  height: 200px;
 object-fit:cover;/*Necessary?*/
 position: relative;
 bottom: .5em;
 left: .5em;
}

/*Parameters for text of images in Work section*/
#text a {
  z-index: 100;
  position: absolute;
  color: var(--light);
  background-color: var(--dark);
  font-size: 20px;
  font-weight: bold;
  left: 8px;
  top:170px;
  list-style-type:none
}


/*hover pseudo class for text over images in Work section*/
#text a:hover {

  color: var(--hover1);
}

#text a:link {
  text-decoration: none;
}

/*Footer unordered list for contact links*/
.div-right ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style-type:none;
  padding-right: 70px;
  min-width: 400px;
  gap: 100px;
}

/*contact links at bottom's page*/
.div-right a {
color: var(--dark);
}


/*hover pseudo class*/
footer a:hover {

  color: rgb(122, 119, 179);
}


/* media query to create a responsive display*/
@media screen and (max-width: 997px) {

  .image {
    width: 50%;
  }
  footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  
  }

  header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .div-right a{
    display: block;
    
  }
  body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
}

