/*custom properties*/
:root {
  --light: rgb(209, 240, 240); 
  --dark: #288198;
  --hover1: rgb(219, 224, 156);
  --header: rgb(246, 245, 229);
}

body {
    margin:0;
    padding:0;
    display: flex;
    flex-direction: column;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--dark); 
}

/*Defining header's parameters*/
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
   
    background-color: var(--dark);
}

/*h1 parameters*/
h1 {
  display: flex;
  font-weight: lighter;
  font-size: 180%;
  font-family:cursive;
  margin-left: 1em;
  color: var(--header);
    
  }

/*h2 parameters*/
  h2 {
    font-size: 150%;
    padding-right: 20px;
  }
  
/*Unordered list's parameters for navigation bar*/
nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type:none;
    padding-right: 70px;
    min-width: 400px;
  }

/*Navigation bar's text*/
nav a {
    color: var(--header);
    font-family: cursive;
    font-weight:lighter;
    text-decoration: none;
  }

 /*hover pseudo class for navigation bar's links*/ 
  nav a:hover {
    color: var(--hover1);
  }

  main {
    display: flex;
  flex-direction: column;

  }

/*footer section*/
  footer {
  display: flex;
  align-items: center;   
  }

  /*background color for the "About Me" section*/
.section-1 {
  background-color: var(--light);
}

/*left side of main*/
.div-left {
  display: flex;
  flex-direction: column;
  width: 28%;
  float: left;
  text-align: right;
}

/*parameters for personal image and "About me" h2-text*/
#about-me {
  display: flex;
}
#about-me img {
  width: 30%;
  border-radius: 2em;
  margin: .5em;
}
#about-me h2 {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
}

/*vertical line on right side of h2 text */
.div-left h2 {
  border-right: 2px solid rgb(206, 214, 214);
}
/*right side of main*/
.div-right { 
 display: flex;
}

/*Margin of text on right side of page*/
.div-right p {
  text-align: left;
  margin: 35px; 
}

/*background color of section 2 of main content*/
.section-2 {
    background-color: var(--light);   
  }

  
/*container for all images in Work section*/
.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
   
}

/*Parameters for all images inside container*/
.container div {
  width: 400px; height: 250px; margin: 1px;
  font-size: 1rm; text-align: left; color: rgb(8, 42, 71);
  padding-top : 1em;
  position: relative;
 }

/*dimensions and position for the following images in the Work section*/
.image1 img, .image2 img, .image3 img, .image4 img, .image5 img, .image6 img {
 width: 100%;
 height: 250px;
 object-fit:cover;
 position: relative;
 bottom: .5em;
 left: .5em;
 border-radius: .25em;
}

/*Parameters for text of images in Work section*/
#text a {
  z-index: 100;
  position: absolute;
  color: var(--light);
  background-color: rgb(8, 43, 60);
  font-size: 20px;
  font-weight: bold;
  padding: .15em;
  left:.7em;
  top:11em;
  border-radius: .3em;
}


/*hover pseudo class for text over images in Work section*/
#text a:hover {
  color: var(--hover1);
}

#text a:link {
  font-family: cursive;
  font-weight: lighter;
  text-decoration: none;
}

/*Footer unordered list for contact links*/
.div-right ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style-type:none;
  padding-right: 70px;
  min-width: 400px;
  gap: 100px;
}

/*contact links at bottom's page*/
.div-right a {
color: var(--dark);
font-family: cursive;
text-decoration: none;
}

/*hover pseudo class*/
footer a:hover {
  color: rgb(122, 119, 179);
}

/* media query to create a responsive display*/
@media screen and (max-width: 997px) {

  .image {
    width: 50%;
  }
   footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    
  }

  header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; 
  }
  .div-right a{
    display: block;
    
  }
  body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
}

@media screen and (max-width: 772px) {

  footer h2{
    font-size: 150%;
  }
  
  h1 {
   margin-left: auto;
   margin-right: auto;
  }
  #about-me h2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}