body {
    margin:0;
    padding:0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #13293d;
  
}

/*Defining header's parameters*/
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    padding: 1%;
    background-color: #13293d;
    color: #13293d;
}

/*h1 parameters*/
h1 {
    font-size: 170%;
    margin-top: 60px;
    margin-left: -5px;
    padding-left: 80px;
    padding-right: 5px;
    margin-bottom: -5px;
    background-color: rgb(157, 207, 207);
    
  }

/*h2 parameters*/
  h2 {
    font-size: 250%;
    padding-right: 20px;
  }
  
/*Unordered list's parameters for navigation bar*/
nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type:none;
    padding-right: 70px;
    min-width: 400px;
  }

/*Navigation bar's text*/
nav a {
    color:  rgb(157, 207, 207);
    font-weight: bold;
  }

 /*hover pseudo class for navigation links*/ 
  nav a:hover {
    color: rgb(197, 206, 77);
  }

  main {
    display: flex;
  flex-direction: column;

  }

/*background image for subtitle*/
  .subheader{
    display: flex;
    justify-content: end;
    align-items: flex-end;
    background-color: aquamarine;
    width: 100%;
    background-image: url("./images/Ladrillos.jpg");
   }


 /*Parameters for subtitle on first picture below header*/
  .subheader h2 {
    font-size: 170%;
    padding: 13px;
    margin-right: 60px;
    margin-bottom: 10px;
    margin-top: 90px;
    color: rgb(157, 207, 207);
    background-color: #13293d;
  }

/*footer section*/
  footer {
    display: flex;
    align-items: center;
    
  }

.section-1 {
  background-color: rgb(157, 207, 207);
 
}

/*left side of main*/
.div-left {
  width: 28%;
  float: left;
  text-align: right;
border-right: 2px solid rgb(206, 214, 214);
  
}

/*right side of main*/
.div-right { 

 display: flex;
  flex-direction: column;
}

.div-right p {
  text-align: left;
  margin: 35px; 
}

/*background color of section 2 of main content*/
.section-2 {
    background-color: rgb(157, 207, 207);;
    
  }

   /*Music Page image*/
#top-image {
   display: flex;
   flex-shrink: 1px;
   justify-content: left;
   background-color: aquamarine;
   width: 96.3%;
   margin-left: 1.25em;
   margin-top: 30px;
   background-image: url("./images/IMG_1893.JPG");
   background-position-x: center;
   background-clip:inherit;
   border: 6px;
  }
  
  /*Music Page-text*/
  #top-image p {
    font-size: 130%;
    padding: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 200px; 
    color: #13293d;
    background-color:rgb(157, 207, 207);
    
  }
  
  /*Container for all 4 pictures in main body*/
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /*justify-content: space-between;*/
    margin-top: 20px;
  }


  /*Four images below Music Page image*/
.image {
  /*display: block;*/
  margin-bottom: -5em; /*testing position*/
  flex: 1 0 0;
  padding-left: 25px;
  padding-bottom: 1em;
  height:23em;
  border: 3px;
  /*background-color: #13293d;*/
  
}

/*text below four images*/
.image p {
  font-size: 130%;
  color: #13293d;
  background-color: rgb(157, 207, 207);
  padding:22px;
  margin-right: 10em;
  position:relative;
  top: -8.2rem;
  left: -1.5rem;
}


/*Footer unordered list for contact links*/
.div-right ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type:none;
  padding-right: 70px;
  min-width: 400px;
  gap: 100px
}

/*contact links at bottom's page*/
.div-right a {
color:  #13293d;
  
  
}
/*hover pseudo class*/
footer a:hover {

  color: rgb(122, 119, 179);
}


/* TODO: Use media query to change the width of the cards so they split into two columns at 992px or smaller*/
@media screen and (max-width: 1280px) {

  .image {
    width: 50%;
  }
  header {
    background: #2b1e3f;
  
  }
  body {
    display:flex
  

  }
}

@media screen and (max-width: 500px) {

  .image {
    width: 50%;
  }
  header {
    background: #0f1d25;
  
  }
  .div-right {
    display: flex;
    flex-direction: column;
  

  }
}